name: proxy

services:
  caddy:
    image: {{ caddy_image }}
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    networks:
      - backend
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - {{ stack_root }}/proxy/Caddyfile:/etc/caddy/Caddyfile:Z
      - {{ storage_root }}/caddy/data:/data:Z
      - {{ storage_root }}/caddy/config:/config:Z
      - {{ storage_root }}/wordpress/html:/apps/wordpress:Z

networks:
  backend:
    name: homelab_backend
    driver: bridge
