name: auth

services:
  postgresql:
    image: postgres:16-alpine
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d authentik -U authentik"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    networks:
      - backend
    volumes:
      - {{ storage_root }}/authentik/postgresql:/var/lib/postgresql/data:Z
    environment:
      POSTGRES_PASSWORD: {{ vault_secrets.authentik.pgpass }}
      POSTGRES_USER: authentik
      POSTGRES_DB: authentik

  redis:
    image: redis:alpine
    command: --save 60 1 --loglevel warning
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 3s
    networks:
      - backend
    volumes:
      - {{ storage_root }}/authentik/redis:/data:Z

  authentik-server:
    image: ghcr.io/goauthentik/server:2026.5.2
    restart: unless-stopped
    command: server
    networks:
      - backend
    environment:
      AUTHENTIK_SECRET_KEY: {{ vault_secrets.authentik.secret_key }}
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_POSTGRESQL__HOST: postgresql
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: {{ vault_secrets.authentik.pgpass }}

      # SMTP Host Emails are sent to
      AUTHENTIK_EMAIL__FROM: authentik@mail.ereshkigal.cc
      AUTHENTIK_EMAIL__HOST: smtp.resend.com
      AUTHENTIK_EMAIL__PORT: 465

      AUTHENTIK_EMAIL__USERNAME: {{ vault_secrets.authentik.email_username }}
      AUTHENTIK_EMAIL__PASSWORD: {{ vault_secrets.authentik.email_password }}

      AUTHENTIK_EMAIL__USE_TLS: False
      AUTHENTIK_EMAIL__USE_SSL: True

      AUTHENTIK_EMAIL__TIMEOUT: 10
    volumes:
      - {{ storage_root }}/authentik/media:/media:Z
      - {{ storage_root }}/authentik/templates:/templates:Z
    depends_on:
      postgresql:
        condition: service_healthy
      redis:
        condition: service_healthy

  authentik-worker:
    image: ghcr.io/goauthentik/server:2026.5.2
    restart: unless-stopped
    command: worker
    networks:
      - backend
      - socket_net
    environment:
      AUTHENTIK_SECRET_KEY: {{ vault_secrets.authentik.secret_key }}
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_POSTGRESQL__HOST: postgresql
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: {{ vault_secrets.authentik.pgpass }}
    user: root
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:z
      - {{ storage_root }}/authentik/media:/media:Z
      - {{ storage_root }}/authentik/templates:/templates:Z
    depends_on:
      postgresql:
        condition: service_healthy
      redis:
        condition: service_healthy

networks:
  backend:
    external: true
    name: homelab_backend

  socket_net:
    external: true
    name: socket_net
