name: mealie
services:
  mealie:
    image: {{ mealie_image }}
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: {{ mealie_memory_limit }}
    networks:
      - backend
    environment:
     - ALLOW_SIGNUP=false
     - PUID=1000
     - PGID=1000
     - TZ={{ timezone }}
     - BASE_URL=https://cook.{{ domain }}
     - OPENAI_BASE_URL={{ vault_secrets.mealie.openai_base_url }}
     - OPENAI_API_KEY={{ vault_secrets.mealie.openai_api_key }}
     - OPENAI_MODEL={{ mealie_openai_model }}
     - OPENAI_AUDIO_MODEL={{ mealie_openai_audio_model }}
     - OPENAI_CUSTOM_PROMPT_DIR=/app/custom_prompts
     # OIDC Configuration
     - OIDC_AUTH_ENABLED=true
     - OIDC_PROVIDER_NAME={{ vault_secrets.mealie.oidc_provider_name }}
     - OIDC_CONFIGURATION_URL={{ vault_secrets.mealie.oidc_configuration_url }}
     - OIDC_CLIENT_ID={{ vault_secrets.mealie.oidc_client_id }}
     - OIDC_CLIENT_SECRET={{ vault_secrets.mealie.oidc_client_secret }}
     - OIDC_SIGNUP_ENABLED=true
     - OIDC_USER_GROUP={{  vault_secrets.mealie.oidc_user_group }}
     - OIDC_ADMIN_GROUP={{ vault_secrets.mealie.oidc_admin_group }}
     - OIDC_AUTO_REDIRECT=false
     - OIDC_REMEMBER_ME=true

    volumes:
     - {{ storage_root }}/mealie/data:/app/data:Z
     - {{ storage_root }}/mealie/prompts:/app/custom_prompts:ro

networks:
  backend:
    external: True
    name: homelab_backend
