name: tubearchivist

services:
  tubearchivist:
    image: bbilly1/tubearchivist
    restart: unless-stopped
    depends_on:
      - redis
      - elasticsearch
    networks:
      - backend
    environment:
      - TA_HOST=https://tube.{{ domain }}
      - HOST_UID=1000
      - HOST_GID=1000
      - TA_USERNAME={{ vault_secrets.tubearchivist.username }}
      - TA_PASSWORD={{ vault_secrets.tubearchivist.password }}
      - REDIS_CON=redis://redis:6379
      - TZ={{ timezone }}
      - ES_URL=http://elasticsearch:9200
      - ELASTIC_PASSWORD={{ vault_secrets.tubearchivist.elastic_pass }}
    volumes:
      - {{ storage_root }}/tubearchivist/cache:/cache:Z
      - {{ storage_root }}/tubearchivist/youtube:/youtube:Z

  elasticsearch:
    image: elasticsearch:8.18.2
    restart: unless-stopped
    networks:
      - backend
    environment:
      - ELASTIC_PASSWORD={{ vault_secrets.tubearchivist.elastic_pass }}
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - xpack.security.enabled=true
      - discovery.type=single-node
      - path.repo=/usr/share/elasticsearch/data/snapshot
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - {{ storage_root }}/tubearchivist/es:/usr/share/elasticsearch/data:Z

  redis:
    image: redis:alpine
    command: --save 60 1 --loglevel warning
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 3s
    networks:
      - backend
    volumes:
      - {{ storage_root }}/tubearchivist/redis:/data:Z

networks:
  backend:
    external: true
    name: homelab_backend
